## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
num  =  25
print(num)
type(num)

25

int

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
num1= 8.5
type(num1)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(num)

int

4) Crear una variable que contenga tu nombre

In [6]:
name = 'Fernando'

5) Crear una variable que contenga un número complejo

In [9]:
numComp = 25 + 23J

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(numComp)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
var1 = True
var2 = 'True'

#num2 =2
#num2=str(num2)
#type(num2)

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [18]:
print("La var 1 es una variable de tipo: ", type(var1)  ," y la var 2 es una variable de tipo:" , type(var2)   )

La var 1 es una variable de tipo:  <class 'bool'>  y la var 2 es una variable de tipo: <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
var3 = 36
var4 = 52.5
var6 = var3 + var4
var6

88.5

11) Realizar una operación de suma de números complejos

In [21]:
suma_n_complex = 25 +67j +36 +34j
suma_n_complex

(61+101j)

In [22]:
complex1 = 25+67j
complex2 = 36+34j
complex3 = (complex1 + complex2)
complex3

(61+101j)

12) Realizar una operación de suma de un número real y otro complejo

In [26]:
num_real =25.5
num_complex = 25 + 25j
suma_real_complex = num_real + num_complex
suma_real_complex

(50.5+25j)

13) Realizar una operación de multiplicación

In [27]:
25*25

625

14) Mostrar el resultado de elevar 2 a la octava potencia

In [28]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
div=27/4
div

6.75

16) De la división anterior solamente mostrar la parte entera

In [34]:
div1=27//4
div1

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [35]:
div2=27%4
div2

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [37]:
div3 = (4*div1)+div2
div3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
saludo ="Hola"
print(saludo +' '+ name)

Hola Fernando

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [42]:
"2"==2
#"2" Es tomado como str y 2 es tomado como int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [44]:
int("2")==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [49]:
a = float('3,8')
#nO ES POSIBLE COMO FLOAT "3,8" por que es un str por el uso de ',' (coma) se debe cambiar a '.'(punto)
a
type(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [53]:
var5 = 3
var5 -=1254687752437443876
var5

-1254687752437443873

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [75]:
#decimal = 27
#bin(decimal)

1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [76]:
#2 + '2'
2 + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [78]:
mi_saludo = 'Buenos dias,  '
print(mi_saludo *3)

Buenos dias,  Buenos dias,  Buenos dias,